<!-- {% load static %} -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{% static 'dashboard/images/favicon.png' %}" type="image/png" sizes="16x16">
  <title>Marking Attendance</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <!-- <link rel="stylesheet" href="{% static 'dashboard/style.css' %}"> -->
  <link rel="stylesheet" href="style.css">
 
</head>
<body>

 <div class="bg-image">
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
       <div class= "container">
        
        <label class="logoutLblPos">
          <i class='fas fa-user-alt' style='font-size:30px;color:red'></i><br>
          <span class="glyphicon glyphicon-user" style="height:50px;width:20px"></span> User Name<br>
          <input name="submit2" type="submit" id="submit2" value="log out">
         </label>
   
         <div class = "image">
          <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="https://bmsit.ac.in/" target="_blank">
              <!-- <img class="logo" src="{% static 'dashboard/images/bmslogo.png' %}" alt="logo"> -->
              <img class="logo" src="/bmslogo.png" alt="logo">
            </a>
          </nav>
        </div>
        <br>
        <span>Username : {{ request.user}} </span>
        <span></span>
        <!-- <a href="{% url 'logout' %}"> Logout</a> -->
        <a href="#"> Logout</a>
        <div class="select"> 
          
          <form class="opt" action="{% url 'dashboard' %}" method="POST"> 
          <!-- {% csrf_token %} -->
            <select  class="box" name="cameranumber">
                <option  selected="selected" disabled> Select Classroom</option>
                    <!-- {% for camera in cameras %} -->
                      <option  value="{{ camera.Cameras }}">{{ camera.Classroom }} CR</option>
                    <!-- {% endfor %} -->
            </select>
            <input  type="submit" value="Submit">
        </form>
        </div>
           <!-- {% if cam  %}
                {{ cam }}
           {% endif %} -->
        <div class="marker">
        <!-- <a href="{% url 'markattendence'%}" class="btn btn-success mark"> Mark Attendence</a> -->
        <a href="#" class="btn btn-success mark"> Mark Attendence</a>
        </div>
       </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 </div>
</body>
</html>