.bg-image {
    background-image: url("images/back.jpg");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
.container    
{
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(137, 135, 221, 0.842);
  overflow: hidden;
  background-color: rgb(206, 212, 223);
  width: 600px;
  height: 425px;
  padding: 30px 70px 30px 10px;
 }
 
.logo{
    height: fit-content;
    max-width: 500px;
    padding-left: 10px;
    width: 80%;
    height: 50%;
    
}
.image
{
    padding-left: 70px;
}
.mark{
    position : center;
    margin : 100px;
}

.form-camnum{
    width: 50px;
}

.select{
    text-align: center;
    margin-top: 30px;
}
.box{
    border-radius: 20px;
    height: 40px;
    width: 300px;
    
}
.marker
{
   padding-left: 300px;
}
