body 
{
  font-family: "Karla", sans-serif;
 
  min-height: 100vh;
}
.bg-image {
  background-image: url("images/back.jpg");
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
.brand-wrapper 
{
  margin-bottom: 19px; }
  .brand-wrapper .logo {
  height: 75px; 
}

.login-card 
{
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(137, 135, 221, 0.842);
  overflow: hidden;
 }
  
.login-card-img 
{
  border-radius: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; 
}

.login-card .card-body 
{
  padding: 85px 60px 60px; 
}
    
@media (max-width: 422px)
{
  .login-card .card-body
   {
    padding: 35px 24px;
  } 
}
  
.login-card-description
{
    font-size: 25px;
    color: rgba(168, 0, 0, 0.856);
    font-weight: normal;
    margin-bottom: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
  
   .login-card form
    {
    max-width: 400px;
   }
   .form-group i
   {
        position: absolute;
   }
   .form-group
   {
      width : 80%;
      margin-bottom:20px;
   }
 .icon {
    padding: 20px;
    background:  white;
    color: #0d5cdb;
    min-width: 50px;
   
    text-align: center;
    border-top: 1px solid #0d5cdb;
    border-left: 1px solid #0d5cdb;
    border-bottom: 1px solid #0d5cdb; 
    padding: 15px 25px;
    margin-bottom: 20px;
    height: 50px;
    
  
  }
  .login-card .form-control
   {
    
    border: 1px solid #0d5cdb;
    padding: 15px 25px;
    margin-bottom: 20px;
    height: 50px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal; 
    text-align: center;
  }

  
    .login-card .form-control::-webkit-input-placeholder 
    {
      color: #919aa3; 
    }
    .login-card .form-control::-moz-placeholder 
    {
      color: #919aa3; 
    }
    .login-card .form-control:-ms-input-placeholder 
    {
      color: #919aa3; 
    }
    .login-card .form-control::-ms-input-placeholder
     {
      color: #919aa3;
     }
    .login-card .form-control::placeholder
     {
      color: #919aa3;
     }
  .login-card .login-btn
   {
    padding: 13px 20px 12px;
    background-color: rgb(67, 20, 236);
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
   }
    .login-card .login-btn:hover
     {
      border: 1px solid #000;
      background-color: transparent;
      color:black;
     }
  


