

.bg-image {
  background-image: url("back.jpg");
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  }

  .container    
  {
    border: 0;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(137, 135, 221, 0.842);
    overflow: hidden;
    background-color: rgb(206, 212, 223);
    width: 100%;
    height: 1000px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
   }

   .camera
   {
     float: right;
     width:300px;
     height:225px;
     position: relative;
     background-color: black;
     border-radius: 20px;
     box-shadow: 0 10px 30px 0 rgba(137, 135, 221, 0.842);
     
   }
   .logo{
    height: fit-content;
    max-width: 500px;
    padding-left: 50px;
    width: 100%;
    height: 50%;
    
    
}

.navbar
{
  border-radius: 20px;
  box-shadow: 0 10px 30px 0 rgba(137, 135, 221, 0.842);
  

}

.teacher
{
  width:350px;
  height:700px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px 0 rgba(137, 135, 221, 0.842);
}
  
