<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attendance Login Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Kumar One ' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="login.css">
</head>

<body>

    <div class="bg-image">

        <div class="header">
            <a class="navbar-brand" href="https://bmsit.ac.in/" target="_blank">
                <img src="bmslogo.png" class="img">
            </a>
           
            <div class="header-right">
                <a href="#"><i class="fa fa-fw fa-home"></i> Home</a>
                <a href="#"><i class="fas fa-user-plus"></i> Register </a>
        

            </div>
        </div>


        <div >

            <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">



                <div class="container">
                    <div class="card login-card">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="page.jpg" alt="login" class="login-card-img">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <div class="brand-wrapper">
                                        <img src="bmslogo.png" alt="logo" class="logo">
                                    </div>
                                    <p class="login-card-description">Login to Attendance Management System</p>
                                    <form action="#!">
                                        <div class="form-group">
                                            <i class="fa fa-user icon"> </i>
                                            <input type="email" name="email" id="email" class="form-control"
                                                placeholder="Username/Email address">

                                        </div>
                                        <div class="form-group mb-4">
                                            <i class="fa fa-key icon"> </i>
                                            <input type="password" name="password" id="password" class="form-control"
                                                placeholder="***********">

                                        </div>
                                        <input name="login" id="login" class="btn btn-block login-btn mb-4"
                                            type="button" value="Login">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>



    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>BMSIT</h3>

            <p class="footer-links">
                BMS Institute of Technology and Management,<br>
                Doddaballapur Main Road,<br>
                Avalahalli, Yelahanka,<br>
                Bengaluru - 560064.
            </p>

            <p class="footer-college-name">BMSIT &copy; 2020</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Avalahalli,Yelhanka,Banglore</span> Karnataka, India</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>080-68730444</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:principal@bmsit.in">contact@principal@bmsit.in</a></p>
            </div>

        </div>



        <div class="footer-right" style="color: #92999f;">

            <p class="footer-college-about">
            <p>About the college</p><br>
            BMSIT&M, an institution with a class of its own, is one of the most sought after institutes for high
            quality engineering education in the state.
            </p>

            <div class="footer-icons">

                <a href="https://www.facebook.com/bmsit" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/bmsitm1" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/school/bms-institute-of-technology-and-management" target="_blank"><i
                        class="fa fa-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCZLUwjJYZZvXvfPketkZZMQ" target="_blank"><i
                        class="fa fa-youtube"></i></a>



            </div>

        </div>

    </footer>
</body>

</html>