{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" sizes="16x16">
  <title>mark</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'mark/index.css' %}">
</head>

<body>
  <div class="bg-image">
    <div class="brand-wrapper ">
      <a href="{% url 'dashboard' %}"><img src="{% static 'images/bmslogo.png' %}" alt="logo" class="logo"><a>
    </div>
    <div class="main">
      <div class="menu ">
        <div class="srh" style="float:left;margin-right: 30px;">
          <div style="float: left;">
            <form class="example " action="">
              {% comment %} <input type="text" class="in" placeholder="Search Attendance" name="search"> {% endcomment %}
            </form>
          </div>
          {% comment %} <div style="float: left;">
            <button class="ibut" type="submit" onclick="disp1()"><i class="fa fa-search"></i></button>
          </div> {% endcomment %}

        </div>
        <div>
          <a type="submit" class="butt" href="{% url 'camselect'%}"">New Attendance <i
              class="fa fa-check-circle"></i></a>

        </div>

      </div>
    </div>
    <div id="disp1" class="content1">
      <div class="block ">
        <div>
          <img src="{% static 'images/jan.jpg' %}" alt="logo" class="month">
        </div>
        <div>
          <button class="but"> January </button>
        </div>
      </div>
      <div class="block">
        <div>
          <img src="{% static 'images/feb.jpg' %}" alt="logo" class="month">
        </div>
        <div>
          <button class="but"> Febraury </button>
        </div>
      </div>
      <div class="block">
        <div>
          <img src="{% static 'images/march.jpg' %}" alt="logo" class="month">
        </div>
        <div>
          <button class="but"> March </button>
        </div>
      </div>
      <div class="block">
        <div>
          <img src="{% static 'images/april.jpg' %}" alt="logo" class="month">
        </div>
        <div>
          <button class="but"> April </button>
        </div>
      </div>
      <div class="block">
        <div>
          <img src="{% static 'images/may.jpg' %}" alt="logo" class="month">
        </div>
        <div>
          <button class="but"> May </button>
        </div>
      </div>

      <div class="block">
        <div>
          <img src="{% static 'images/june.jpg' %}" alt="logo" class="month">
        </div>
        <div>
          <button class="but"> June </button>
        </div>
      </div>
      <div class="divide">
      </div>
      <div class="block">
        <div>
          <img src="{% static 'images/july.jpg' %}" alt="logo" class="month">
        </div>
        <div>
          <button class="but"> July </button>
        </div>
      </div>
      <div class="block">
        <div>
          <img src="{% static 'images/august.jpg' %}" alt="logo" class="month">
        </div>
        <div>
          <button class="but"> August </button>
        </div>
      </div>
      <div class="block">
        <div>
          <img src="{% static 'images/sept.jpg' %}" alt="logo" class="month">
        </div>
        <div>
          <button class="but"> September </button>
        </div>
      </div>
      <div class="block">
        <div>
          <img src="{% static 'images/october.jpg' %}" alt="logo" class="month">
        </div>
        <div>
          <button class="but"> October </button>
        </div>
      </div>
      <div class="block">
        <div>
          <img src="{% static 'images/november.jpg' %}" alt="logo" class="month">
        </div>
        <div>
          <button class="but"> November </button>
        </div>
      </div>
      <div class="block">
        <div>
          <img src="{% static 'images/december.jpg' %}" alt="logo" class="month">
        </div>
        <div>
          <button class="but"> December</button>
        </div>
      </div>
    </div>
    <div id="disp2" class="content2">
      <form class="opt" action="{% url 'dashboard' %}" method="POST"> 
      {% csrf_token %}
        <div style="float: left; margin-right:10px">
          <select class="sel" name="cameranumber">
            {% for camera in cameras %}
              <option  value="{{ camera.Cameras }}">{{ camera.Classroom }} CR</option>
            {% endfor %}
          </select>
        </div>
        <div style="float: left;">
          
        <input type="submit" value="Submit" class="sub">
        </div>
      </form>
            {% if cam  %}
      Camera : {{ cam }}
      <div class="info">
        <input type="text" class="inf" value="{{ camera.semester}}" disabled>
        <input type="text" class="inf" value="{{ camera.branch}}" disabled>
        <input type="text" class="inf" value="{{ camera.year }}" disabled>
        <input type="text" class="inf" value="{{ camera.section}}" disabled><br>
        <a href="{% url 'markattendence'%}"><button class="butt mark"> Mark Attendence <button></a>
        {% endif %}
      </div>
      </div>
    </div>
    <script>
      function disp1() {
        document.getElementById("disp1").style.display = "block";
      }
      function disp2() {
        document.getElementById("disp2").style.display = "block";
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </div>
</body>
</html>