<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMSIT Attendance Display page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Rasa:wght@300;600&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="page3.css">
</head>

<body>
    <!-- for centre -->
    <div class="bg-image">



        <div class="brand-wrapper ">
            <img src="bmslogo.png" alt="logo" class="logo">

            <div class="camera">
            </div>
            <div class="show">
            <button class="print"> Print Attendance </button>
            </div>
        </div>



        <div class="teacher">
            <div>
                <img src="teacher.png" class="teach">
            </div>
            <div style="margin:20px;">
                <p class="one">Mrs. Sushila.M</p>
                <p class="one" style="margin-top: -15px;">Assistant Professor</p>
                <p style="margin-top: -20px;font-weight: bold;">________________</p>
                <p class="two">Camera Number</p>
                <p class="two" style="margin-top: -10px;">Branch</p>
                <p class="two" style="margin-top: -10px;">Semester</p>
                <p class="two" style="margin-top: -10px;">Section</p>
                <p style="margin-top: -20px;font-weight: bold;">________________</p>
                <button class="mark"> Logout </button>

            </div>

        </div>
        


        <div class="student">
            <div class="block ">
                <div>
                  <img src="teacher.png" alt="logo" class="month">
                </div>
                <div>
                  <button class="but"> 1BY17CS133</button>
                </div>
              </div>
              <div class="block ">
                <div>
                  <img src="jan.jpg" alt="logo" class="month">
                </div>
                <div>
                  <button class="but"> 1BY17CS654 </button>
                </div>
              </div>
              <div class="block ">
                <div>
                  <img src="jan.jpg" alt="logo" class="month">
                </div>
                <div>
                  <button class="but"> 1BY17CS132 </button>
                </div>
              </div>
              <div class="block ">
                <div>
                  <img src="jan.jpg" alt="logo" class="month">
                </div>
                <div>
                  <button class="but"> 1BY17CF765</button>
                </div>
              </div>
              <div class="block ">
                <div>
                  <img src="jan.jpg" alt="logo" class="month">
                </div>
                <div>
                  <button class="but"> January </button>
                </div>
              </div><div class="block ">
                <div>
                  <img src="jan.jpg" alt="logo" class="month">
                </div>
                <div>
                  <button class="but"> January </button>
                </div>
              </div>
              
              
              
              

              

              

              

              

              

              


        </div>






        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    </div>
</body>

</html>